
@import "./_base/typography";
@import "./_base/variables";
@import "bootstrap/scss/bootstrap";

.btn-primary {
  --bs-primary: #191919;
  --bs-btn-bg: #191919 !important;
  --bs-btn-border-color: #191919 !important;
  --bs-btn-hover-bg: #191919 !important;
  --bs-btn-hover-border-color: #191919;
  --bs-btn-active-bg: #191919;
  --bs-btn-focus-shadow-rgb: rgb(25, 25, 25, 0.3);
}

body {
  font-family: $font-family--primary;
  background-color: $background;
}

.form-control {
  border-color: rgba($primary, 0.3) !important;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.2) !important;
  }
}

.btn-primary, .btn-outline-primary {
  padding: 14px 20px;
  border-radius: 100px;
}