@import "../../../assets/styles/_base/_typography";
@import "../../../assets/styles/_base/variables";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/mixins/_breakpoints";

.header {
    padding: 25px 0 15px;
    display: flex;
    justify-content: space-between;

    &__logo {
        display: flex;
        align-items: center;

        svg {
            height: 32px;
            margin-right: 10px;
        }
    }

    .form-switch {
        padding-left: 1.2rem !important;
        @include media-breakpoint-down(md) {
            padding-left: 1.2rem !important;
        }

        .form-check-input {
            @include media-breakpoint-down(lg) {
                width: 2.8rem !important;

                &:checked {
                    background-position: 17px -2px !important;
                }
            }
        }
    }

    button,
    a {
        @include media-breakpoint-down(sm) {
            @include font-size($font-small);
        }
    }
}
